:root {
    --Orange01-Birt: #FD3D24;
    --Yellow-Birt: #FFDC40;
  
    --Blue01-Birt: #1D77FF;
    --Blue02-Birt: #0094FF;
    --Purple-Birt: #A430FF;
    --Orange02-Birt: #FF7511;
  
    --Black-Birt: #252525;
    --White-Birt: #FFFFFF;
    --Gray-Birt: #555555;
  
    --Soft-Yellow01-Birt: #FFF9E3;
    --Soft-Yellow02-Birt: #FFFCF0;
  }


html {
    font-size: 100%;
    font-family: 'Onest', sans-serif;
  }


/* Styles to the card */

.main-cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px 20px;

    height: 100svh;
    overflow: scroll;

    padding-top: 81px;
    padding-bottom: 60px;
}

.card-container {
    max-width: 200px;
    width: calc(50% - 30px);
    min-width: 150px;
    min-height: auto;
}

.card-logo-marca {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 160px;

    border-radius: 10px;
    background-color: #ffeba2
}
/* el pseudoelemento before ayuda a que pueda crecer manteniendo una relacion de aspecto 158px/168px */
.card-logo-marca::before {
    content: "";
    padding-top: 106.33%;
} 

.card-logo-marca img {
    width: 80%;
}

/* Styles to content */

.card-content-container {
   padding-left: 8px;
   padding-top: 13px;
}

.regalo-marca {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 95%;

    overflow: hidden;
    /* Evita saltos de linea */
    white-space: nowrap;
}
.card-container .h1-regalo-marca {
    font-size: clamp(0.875rem, 0.04166666666666674rem + 3.7037037037037033vw, 1rem);
    font-weight: 600;

    text-overflow: ellipsis;
    overflow: hidden;

    color: var(--main-orange-01-birt, #F84F39);
   
}

.card-container .nombre-marca {
    margin-top: 5px;

    font-size: clamp(0.875rem, 0.04166666666666674rem + 3.7037037037037033vw, 1rem);
    font-weight: 500;

    color: var(--neutral-black-birt, #0E0E0E);
}

.card-container .categoria-marca {
    margin-top: 2px;

    font-weight: 500;
    font-size: clamp(0.875rem, 0.04166666666666674rem + 3.7037037037037033vw, 1rem);

    
    color: var(--neutral-gray-birt, #555);
}


.btn-detallesRegalo {

    font-family: 'Onest', sans-serif;
    font-weight: 500;
    font-size: clamp(0.875rem, 0.04166666666666674rem + 3.7037037037037033vw, 1rem);
    
    padding: 6px 0 10px 0px;

    color: var(--Blue01-Birt);
    background-color: var(--Soft-Yellow02-Birt);
}

.btn-detallesRegalo img {
    margin-bottom: -1px;
    padding-left: 5px;
}

