html {
    font-size: 100%;
  }
  
:root {
    --Orange01-Birt: #F84F39;
    --Yellow-Birt: #FFDC40;
  
    --Blue01-Birt: #1D77FF;
    --Blue02-Birt: #0094FF;
    --Purple-Birt: #A430FF;
    --Orange02-Birt: #FF7511;
  
    --Black-Birt: #0E0E0E;
    --White-Birt: #FFFFFF;
    --Gray-Birt: #555555;
  
    --Soft-Yellow01-Birt: #FFF9E3;
    --Soft-Yellow02-Birt: #FFFCF0;
}

@font-face {
    font-family: 'Causten Round';
    src: url(/static/fonts/CaustenRound-Regular.otf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Causten Round';
    src: url(/static/fonts/CaustenRound-Medium.otf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Causten Round';
    src: url(/static/fonts/CaustenRound-SemiBold.otf);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Causten Round';
    src: url(/static/fonts/CaustenRound-Bold.otf);
    font-weight: 700;
    font-style: normal;
}

/* Styles to the card */

.main-cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.25rem;

    margin-top: 5.1875rem;
    margin-bottom: 2.5rem;
}

.card-container {
    max-width: 12.5rem;
    width: calc(50% - 1.875rem);
    min-width: 9.375rem;
    height: auto;
}

.card-logo-marca {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 10.5rem;

    border-radius: .625rem;
    background-color: #ffeba2
}
/* el pseudoelemento before ayuda a que pueda crecer manteniendo una relacion de aspecto 9.875rem/10.5rem */
.card-logo-marca::before {
    content: "";
    padding-top: 106.33%;
} 

.card-logo-marca img {
    width: 80%;
}

/* Styles to content */

.card-content-container {
    margin-top: .875rem;
    margin-left: .4375rem;
}

.card-container .h1-regalo-marca {
    display: flex;
    gap: .125rem;

    font-family: 'Causten Round';
    font-weight: 600;
    font-size: 1rem;
    color: var(--main-orange-01-birt, #F84F39);
}
.card-content-container img {   
    margin-top: -0.25rem;
}

.card-container .nombre-marca {
    margin-top: .3125rem;

    font-family: 'Causten Round';
    font-weight: 500;
    font-size: .9375rem;
    color: var(--neutral-black-birt, #0E0E0E);
}

.card-container .categoria-marca {
    margin-top: .125rem;

    font-family: 'Causten Round';
    font-weight: 500;
    font-size: .9375rem;
    color: var(--neutral-gray-birt, #555);
}


.btn-detallesRegalo {
    font-family: 'Causten Round';
    font-weight: 500;
    font-size: .9375rem;
    padding: .3125rem 0;
    margin-top: 0rem;

    color: var(--Blue01-Birt);
    background-color: var(--Soft-Yellow02-Birt);
}

.btn-detallesRegalo img {
    margin-bottom: -0.0625rem;
    padding-left: .3125rem;
}