html {
    font-size: 100%;
  }
  
:root {
    --Orange01-Birt: #F84F39;
    --Yellow-Birt: #FFDC40;
  
    --Blue01-Birt: #1D77FF;
    --Blue02-Birt: #0094FF;
    --Purple-Birt: #A430FF;
    --Orange02-Birt: #FF7511;
  
    --Black-Birt: #0E0E0E;
    --White-Birt: #FFFFFF;
    --Gray-Birt: #555555;
  
    --Soft-Yellow01-Birt: #FFF9E3;
    --Soft-Yellow02-Birt: #FFFCF0;
}

@font-face {
    font-family: 'Causten Round';
    src: url(/static/fonts/CaustenRound-Regular.otf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Causten Round';
    src: url(/static/fonts/CaustenRound-Medium.otf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Causten Round';
    src: url(/static/fonts/CaustenRound-SemiBold.otf);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Causten Round';
    src: url(/static/fonts/CaustenRound-Bold.otf);
    font-weight: 700;
    font-style: normal;
}

/* Styles to the card */

.main-cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    margin-top: 83px;
    margin-bottom: 40px;
}

.card-container {
    max-width: 200px;
    width: calc(50% - 30px);
    min-width: 150px;
    height: auto;
}

.card-logo-marca {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 168px;

    border-radius: 10px;
    background-color: #ffeba2
}
/* el pseudoelemento before ayuda a que pueda crecer manteniendo una relacion de aspecto 158px/168px */
.card-logo-marca::before {
    content: "";
    padding-top: 106.33%;
} 

.card-logo-marca img {
    width: 80%;
}

/* Styles to content */

.card-content-container {
    margin-top: 14px;
    margin-left: 7px;
}

.regalo-marca {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 6px;
}
.card-container .h1-regalo-marca {

    font-family: 'Causten Round';
    font-size: 16px;
    font-weight: 600;
    color: var(--main-orange-01-birt, #F84F39);
}
.card-content-container img {   
    
}

.card-container .nombre-marca {
    margin-top: 5px;

    font-family: 'Causten Round';
    font-weight: 500;
    font-size: 15px;
    color: var(--neutral-black-birt, #0E0E0E);
}

.card-container .categoria-marca {
    margin-top: 2px;

    font-family: 'Causten Round';
    font-weight: 500;
    font-size: 15px;
    color: var(--neutral-gray-birt, #555);
}


.btn-detallesRegalo {
    font-family: 'Causten Round';
    font-weight: 500;
    font-size: 15px;
    padding: 5px 0;
    margin-top: 0px;

    color: var(--Blue01-Birt);
    background-color: var(--Soft-Yellow02-Birt);
}

.btn-detallesRegalo img {
    margin-bottom: -1px;
    padding-left: 5px;
}