:root {
    --Orange01-Birt: #FD3D24;
    --Yellow-Birt: #FFDC40;
  
    --Blue01-Birt: #1D77FF;
    --Blue02-Birt: #0094FF;
    --Purple-Birt: #A430FF;
    --Orange02-Birt: #FF7511;
  
    --Black-Birt: #252525;
    --White-Birt: #FFFFFF;
    --Gray-Birt: #555555;
  
    --Soft-Yellow01-Birt: #FFF9E3;
    --Soft-Yellow02-Birt: #FFFCF0;
}

html {
    font-size: 100%;
    font-family: 'Onest', sans-serif;
}

/* Styles to modal */
.modal-overlay {
    position: fixed;

    width: 100%;
    height: 100svh;

    background: rgba(37, 37, 37, 0.4);

    z-index: 2;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: calc(100% - 40px); /* El 40px es el margen total (20px a cada lado) */
    max-width: 100%; /* Para asegurar que el modal no sea más ancho que el viewport */
    height: 428px;

    padding: 20px;
    box-sizing: border-box; /* Incluye el padding en el cálculo del tamaño total */

    overflow: hidden;

    border-radius: 12px;
    border: 1px solid #D9D2BD;
    background: var(--Soft-Yellow01-Birt);

    z-index: 2;
    
}

.modal::before {
    content: '';
    position: absolute;

    top: -160px; /* Ajusta la posición vertical del elipse */
    right: -130px; /* Ajusta la posición horizontal del elipse */

    width: 390px; 
    height: 390px;
    
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 117, 17, 0.20) 0%, rgba(255, 117, 17, 0.00) 100%);
    border-radius: 50%; /* Crea un círculo */
    
    z-index: -1; /* Coloca el elipse detrás del contenido del modal */
}

.modal::after {
    content: '';
    position: absolute;

    top: 240px; /* Ajusta la posición vertical del elipse */
    right: 90px; /* Ajusta la posición horizontal del elipse */

    width: 390px; 
    height: 390px;

    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 117, 17, 0.20) 0%, rgba(255, 117, 17, 0.00) 100%);
    border-radius: 50%; /* Crea un círculo */
    
    z-index: -1; /* Coloca el elipse detrás del contenido del modal */
}
.modal-titles {
    margin-top: 8px;

    display: flex;
    flex-direction: column;

    gap: 10px;
}
.modal-titles .title{
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;

    color: var(--Neutral-Black-Birt, #252525);
}

.modal-titles .title span{
    color: var(--Orange01-Birt)
}

.modal-titles .sub-title {
    font-size: 14px;
    font-weight: 500;
    
    color: var(--Neutral-Black-Birt, #252525);
}
.modal-titles .sub-title span {
    font-weight: 600;
}

/* Options styles */
.options-container {
    margin-top: 26px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.options-container .option {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 18px 0px 18px;

    width: 100%;
    height: 40px;
    
    border-radius: 18px;
    border: 1px solid #D9D2BD;
    color: var(--Black-Birt);
    background: #F0E9D0;
}

.option .option-content_left {
    display: flex;
    gap: 10px;
    
}
.option .option-content_left p {
    font-family: Onest;
    font-size: 14px;
    font-weight: 600;
    
    color: var(--Neutral-Black-Birt, #252525);
}

.option .option-content_left img{
    width: 18px;
    height: 18px;
    filter: grayscale(100%);
}

.option .option-circle{
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #ccc7b3;
}

/* Option active */
.options-container .option.selected {
    border: 1px solid var(--Orange02-Birt);
    background: var(--Complementary-Orange02-Birt, #FF7511);
    transition: 0.3s ease-out;
}
.options-container .option.selected .option-content_left p{
    font-weight: 500;

    color: var(--Neutral-White-Birt, #FFF);
}
.options-container .option.selected .option-content_left img{
    filter: grayscale(0%);
}
.options-container .option.selected .option-circle {
    background-color: var(--Neutral-White-Birt, #FFF);
}


/* submit button styles */
.submit-button {
    margin-top: 10px;

    width: 110px;
    height: 40px;

    font-weight: 600;
    font-size: 14px;
    color: var(--Neutral-Gray-Birt, #555);
    
    border-radius: 20px;
    background: #F0E9D0;

    transition: 0.3s ease-out;
}
.submit-button.active {
    font-weight: 600;
    font-size: 14px;
    color: var(--Neutral-White-Birt, #FFF);
    
    border-radius: 20px;
    background: var(--Main-Orange01-Birt, #FD3D24);
}