html {
    font-size: 100%;
    font-family: 'Onest', sans-serif;
  }
:root {
    --Orange01-Birt: #F84F39;
    --Yellow-Birt: #FFDC40;
  
    --Blue01-Birt: #1D77FF;
    --Blue02-Birt: #0094FF;
    --Purple-Birt: #A430FF;
    --Orange02-Birt: #FF7511;
  
    --Black-Birt: #0E0E0E;
    --White-Birt: #FFFFFF;
    --Gray-Birt: #555555;
  
    --Soft-Yellow01-Birt: #FFF9E3;
    --Soft-Yellow02-Birt: #FFFCF0;
}



.bg-detallesWindow.active {
    position: fixed;    
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    background: rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease-out;
    
}

.bg-detallesWindow.touchMove {
    transition: none;
}

/* styles to card-detalles */
.card-detalles-container {
    position: fixed;
    bottom: 0;

    width: 100%;
    /* min-height: 470px; */

    min-height: clamp(29.375rem, 16.041666666666668rem + 59.25925925925925vw, 31.375rem);
    

    border-radius: 20px 20px 0px 0px;
    background: rgba(255, 252, 240, 0.80);
    backdrop-filter: blur(20px);

    transition: all 0.4s ease-out;
    transform: translateY(100%);
}
.card-detalles-container.active {
    transform: translateY(0%);
    transition: all 0.4s ease-out;
}
/* styles to marca-info */
.header-marca {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /* padding-top: 24px;
    padding-bottom: 18px; */

    padding-top: clamp(1.5rem, 0.6666666666666667rem + 3.7037037037037033vw, 1.625rem);
    padding-bottom: clamp(1.125rem, 0.29166666666666674rem + 3.7037037037037033vw, 1.25rem);

    /* margin-bottom: 26px; */
    margin-bottom: clamp(1.1875rem, 0.35416666666666674rem + 3.7037037037037033vw, 1.3125rem);    
    

    border-bottom: 1px solid #B1B1B1;
}

.header-marca .content-left {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 6px;

    margin-left: 28px;
}
.header-marca .content-left .container-logoMarca {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 32px;

    overflow: hidden;
    border-radius: 6px;
}
.header-marca .content-left .container-logoMarca .logoMarca {
    width: 80%;
}
.header-marca .nameMarca {
    /* font-size: 15px; */
    font-size: clamp(0.9375rem, 0.10416666666666674rem + 3.7037037037037033vw, 1.0625rem);
    font-weight: 600;

    color: var(--Black-Birt);
}

.header-marca .content-right {

    margin-right: 28px;
}
.header-marca .content-right .btn-instagram img {
    padding-top: 2px;
}

/* styles to regalo-detalles */

.regalo-detalles-container {
    height: 100%;
    margin: 0 25px;
    margin-top: 16px;
}

.mainContent {
   padding: 0 20px;
}
.mainContent .sct1-regaloMarca {
    padding: 0 10px;
}
.mainContent .sct1-regaloMarca p{
    /* font-size: 14px; */
    font-size: 
        clamp(0.875rem, 0.04166666666666674rem + 3.7037037037037033vw, 1rem);
    font-weight: 400;
    
    color: var(--Black-Birt);
}

.sct1-regaloMarca .regaloMarca {
    display: flex;
    align-items: flex-start;
    gap: 6px;

    margin-top: clamp(0.5rem, 0.08333333333333337rem + 1.8518518518518516vw, 0.5625rem);
}
.sct1-regaloMarca .regaloMarca h2 {
    /* font-size: 15px; */
    font-size:
        clamp(0.9375rem, 0.10416666666666674rem + 3.7037037037037033vw, 1.0625rem);
    font-weight: 600;
    line-height: 
        clamp(1.125rem, 0.29166666666666674rem + 3.7037037037037033vw, 1.25rem);
    
    color: var(--Orange01-Birt);
}
.sct1-regaloMarca .regaloMarca .iconGift {
    width: 
        clamp(1.0625rem, 0.6458333333333334rem + 1.8518518518518516vw, 1.125rem);
    height: 
        clamp(1.0625rem, 0.6458333333333334rem + 1.8518518518518516vw, 1.125rem);
}

.divider-N1 {
    /* margin-top: 22px;
    margin-bottom: 19px; */

    margin-top: clamp(1.375rem, 0.9583333333333334rem + 1.8518518518518516vw, 1.4375rem);
    margin-bottom: clamp(1.1875rem, 0.35416666666666674rem + 3.7037037037037033vw, 1.3125rem);
    
    border-top: 1px solid #C5C5C5;
}



/* styles to condiciones */
.sct2-condicionesRegalo {
    padding: 0 10px;
}
.sct2-condicionesRegalo h3 {
    font-size: 
        clamp(0.875rem, 0.04166666666666674rem + 3.7037037037037033vw, 1rem);
    font-weight: 600;
    
    color: var(--Black-Birt);

    margin-bottom: 8px;
}
.condicionesRegalo-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.condicionesRegalo-container .condicion {
    display: flex;
    align-items: flex-start;

    gap: 6px;
}
.condicionesRegalo-container .condicion .bullet {
    width: 8px;
    height: 8px;
    margin-top: 6px;

    flex-shrink: 0;

    border-radius: 50%;
    background-color: var(--Orange01-Birt);
}
.condicionesRegalo-container .condicion p {
    font-size: 
        clamp(0.875rem, 0.04166666666666674rem + 3.7037037037037033vw, 1rem);
    line-height: 
        clamp(1.125rem, -0.125rem + 5.555555555555555vw, 1.3125rem);
    font-weight: 400;
}

.divider-N2 {
    border-top: 1px solid #C5C5C5;
}
/* Styles to footer */
.card-detalles-container .footer {
    position: absolute;
    bottom: 50px;

    width: 100%;
    padding: 0 20px;
    margin-top: 28px;

}

.footer .sct1-disclaimer {
    display: flex;
    flex-direction: column;

    margin-top: 
        clamp(1.4375rem, 0.1875rem + 5.555555555555555vw, 1.625rem); 

    gap: 8px;
    padding: 0 10px;
}
.footer .sct1-disclaimer .disclaimer {
    display: flex;
    gap: 6px;
}
.footer .sct1-disclaimer .disclaimer p {
    font-size: 
        clamp(0.8125rem, -0.02083333333333326rem + 3.7037037037037033vw, 0.9375rem);
    font-weight: 400;
    
    color: var(--Black-Birt);
}

.footer .sct2-btnClose{
    display: flex;
    justify-content: center;

    margin-top: 41px;
}
.footer .btnClose {
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 132px;
    height: 40px;
    padding: 15px;

    font-size: 
        clamp(0.9375rem, 0.5208333333333334rem + 1.8518518518518516vw, 1rem);
    font-weight: 600;
    line-height: 20px;


    color: var(--Orange01-Birt);
    border-radius: 18px;
    border: 2px solid #FFBEB6;
    background: #FFD1CB;
    
}