html {
  font-size: 100%;
}

:root {
  --Orange01-Birt: #FD3D24;
  --Yellow-Birt: #FFDC40;

  --Blue01-Birt: #1D77FF;
  --Blue02-Birt: #0094FF;
  --Purple-Birt: #A430FF;
  --Orange02-Birt: #FF7511;

  --Black-Birt: #252525;
  --White-Birt: #FFFFFF;
  --Gray-Birt: #555555;

  --Soft-Yellow01-Birt: #FFF9E3;
  --Soft-Yellow02-Birt: #FFFCF0;
}

body {
  background-color: var(--Soft-Yellow02-Birt);
}

header {
  z-index: 1;
}

/* Styles to finalHome */
.finalHome-container {
  width: 100%;
  padding-top: 30px;

  display: flex;
  flex-direction: column;

  text-align: center;

  margin: 0px 20px 0px 20px;
}

/* Styles to sct1 */
.finalHome-container .sct1-container img {
  width: 73px;
}
.finalHome-container .sct1-container h2 {
  margin-top: 10px;

  font-size: 20px;
  font-weight: 700;
  line-height: 22px;

  color: var(--Black-Birt);
}
.finalHome-container .sct1-container h2 span {
  color: var(--Orange01-Birt);
}

.finalHome-container .sct1-container p {
  margin-top: 8px;

  font-size: 13px;
  font-weight: 500;
  line-height: 15.5px;

  color: var(--Black-Birt);
}

.divider {
  margin: 26px 0px 24px 0px;
  height: 1px;
  background-color: #D6CFB8;
}

/* Styles to sct2 */
.finalHome-container .sct2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sct2-container p {
  font-size: 14px;
  font-weight: 500;

  color: var(--Black-Birt);
}
.finalHome-container .sct2-container .arrow1 {
  margin-top: 13px;
}


.sct2-container .subSections-container {
  margin-top: 7px;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  gap: 18px;
}

.subSections-container .divider {
  margin: 66px 0px 18px 0px;
  height: 1px;
  width: 100%;
  background-color: #D6CFB8;
}

.subSections-container .subsct1 {
  position: absolute;
  margin-top: 14px;

  display: flex;
  flex-direction: column;
  gap: 22px;

  width: 100%;
  height: 262px;

  padding: 0px 20px 0px 20px;

  border-radius: 20px;
  border: 1px solid #D6CFB8;
  background: #F9F6E9;
}
.subSections-container .subsct1 .content1 {
  margin-top: 25px;
}
.subSections-container .subsct1 .content1 h3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  
  color: var(--Black-Birt);
}
.subSections-container .subsct1 .content1 h3 span {
  color: var(--Orange01-Birt);
}
.subSections-container .subsct1 .content1 p {
  margin-top: 5px;

  font-size: 12px;
  font-weight: 500;
  
  color: var(--Gray-Birt);
}

.subSections-container .subsct1 .content2 {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 8px;
}

.subSections-container .subsct1 .content2 input {
  width: 100%;
  height: 40px;
  padding: 0px 18px 0px 18px;
  
  font-family: Onest;
  font-size: 13px;
  font-weight: 500;

  border-radius: 18px;
  border: 1px solid #D0D5DD;
  background: #FFFDF6;
}
.subsct1 .content2 input::placeholder{
  color: #8f9688;
}
.subsct1 .content2 input:focus{
  outline: none;
  border: 1px solid var(--Orange02-Birt);
}

.subSections-container .subsct1 .content2 .btn-submit {
  width: 100%;
  height: 40px;

  font-family: Onest;
  font-size: 14px;
  font-weight: 600;

  color: var(--White-Birt);
  border-radius: 18px;
  background-color: var(--Orange01-Birt);

  transition: all 0.5s ease;
}
.subsct1 .content2 .btn-submit.sentEmail{
  
  width: 40%;

  border-radius: 18px;
  background-color: #34C759;
}

.loader {
  margin-top: 3px;

  width: 18px;
  height: 18px;

  display: inline-block;
  box-sizing: border-box;

  border: 2px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 
.subSections-container .subsct2 {
  margin-top: 294px;
  position: absolute;

  display: flex;
  flex-direction: column;
  gap: 21px;

  width: 100%;
  height: 145px;

  padding: 0px 20px 0px 20px;

  border-radius: 20px;
  border: 1px solid #D6CFB8;
  background: #F9F6E9;
}

.subSections-container .subsct2 h3 {
  margin-top: 24px;

  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  
  color: var(--Black-Birt);
}
.subSections-container .subsct2 h3 span {
  color: var(--Orange01-Birt);
}


.subSections-container .subsct2 .btn-sendEmail {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 42px;

  font-weight: 600;
  font-size: 14px;
  color: var(--Soft-Yellow02-Birt);

  text-decoration: none;
  border-radius: 20px;
  background: var(--Orange01-Birt);
}
.subSections-container .subsct2 .btn-sendEmail img {
  margin-left: 5px;
}


.subSections-container .subsct3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subsct3 .emojiConfetti {
  width: 72px;
  height: 72.18px;
}
.subsct3 h2{
  margin-top: 16px;

  font-size: 20px;
  font-weight: 700;

  color: var(--Black-Birt);
}

.subsct3 h2 span {
  color: var(--Orange02-Birt);
}
.subsct3 p {
  margin-top: 5px;

  font-size: 13px;
  font-weight: 500;
  
  color: var(--Black-Birt);
}
.subsct3 .btn-marcasContactar {
  margin-top: 22px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 140px;
  height: 42px;

  font-weight: 600;
  font-size: 14px;
  color: var(--White-Birt);

  text-decoration: none;
  border-radius: 20px;
  background: var(--Orange02-Birt);
}
.subSections-container .subsct3 .btn-marcasContactar img {
  margin-left: 5px;
}


/* styles to footer */
.footerContainer {
  margin-top: 66px;
  border-top: 1px solid #D6CFB8;
}

.footerContainer p {
  margin-top: 18px;
  font-size: 13px;
  font-weight: 500;

  color: var(--Black-Birt);
}
.footerContainer p a {
  text-decoration: none;
  font-weight: 600;
  color: var(--Orange01-Birt);
}

/* Ocultar scroll del home (/regalos) */
::-webkit-scrollbar {
    width: 0px;
}