html {
    font-size: 100%;
  }
  
:root {
    --Orange01-Birt: #F84F39;
    --Yellow-Birt: #FFDC40;
  
    --Blue01-Birt: #1D77FF;
    --Blue02-Birt: #0094FF;
    --Purple-Birt: #A430FF;
    --Orange02-Birt: #FF7511;
  
    --Black-Birt: #0E0E0E;
    --White-Birt: #FFFFFF;
    --Gray-Birt: #555555;
  
    --Soft-Yellow01-Birt: #FFF9E3;
    --Soft-Yellow02-Birt: #FFFCF0;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url(/static/fonts/Greycliff-CF/Greycliff-CF-Light.woff2) format(woff2);
    font-weight: 300;
}
@font-face {
    font-family: 'Greycliff CF';
    src: url(/static/fonts/Greycliff-CF/Greycliff-CF-Regular.woff2) format(woff2);
    font-weight: 400;
}
@font-face {
    font-family: 'Greycliff CF';
    src: url(/static/fonts/Greycliff-CF/Greycliff-CF-Medium.woff2) format(woff2);
    font-weight: 500;
}
@font-face {
    font-family: 'Greycliff CF';
    src: url(/static/fonts/Greycliff-CF/Greycliff-CF-Demi-Bold.woff2) format(woff2);
    font-weight: 600;
}
@font-face {
    font-family: 'Greycliff CF';
    src: url(/static/fonts/Greycliff-CF/Greycliff-CF-Bold.woff2) format(woff2);
    font-weight: 700;
}
@font-face {
    font-family: 'Greycliff CF';
    src: url(/static/fonts/Greycliff-CF/Greycliff-CF-Extra-Bold.woff2) format(woff2);
    font-weight: 800;
}
@font-face {
    font-family: 'Greycliff CF';
    src: url(/static/fonts/Greycliff-CF/Greycliff-CF-Heavy.woff2) format(woff2);
    font-weight: 900;
}


/* Styles to feedback_page */
html {
    font-family: 'Greycliff CF';
}
body {
    background-color: var(--Soft-Yellow01-Birt);
}
main {
    padding-top: 30px;
}


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 25px;
    margin-bottom: 18px;
}
header .logo-birtdei {
    width: 100px;
}
header h1 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: var(--neutral-black-birt, #0E0E0E);

}
.line--bot-header {
    margin: 0 40px;
    height: 1px;
    
    border-radius: 5px;
    background-color:#D6CFB8;
}

/* Styles to sct1 -buttons */
.sct1-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 20px;
}
.sct1-buttons p {
    font-size: 20px;
    font-weight: 800;
    color: var(--neutral-black-birt, #0E0E0E);
    -webkit-text-stroke: 0.1px;
}