html {
    font-size: 100%;
}
@font-face {
    font-family: 'Greycliff CF';
    src: url(/static/fonts/Greycliff-CF/Greycliff-CF-Light.woff2) format(woff2);
    font-weight: 300;
}
@font-face {
    font-family: 'Greycliff CF';
    src: url(/static/fonts/Greycliff-CF/Greycliff-CF-Regular.woff2) format(woff2);
    font-weight: 400;
}
@font-face {
    font-family: 'Greycliff CF';
    src: url(/static/fonts/Greycliff-CF/Greycliff-CF-Medium.woff2) format(woff2);
    font-weight: 500;
}
@font-face {
    font-family: 'Greycliff CF';
    src: url(/static/fonts/Greycliff-CF/Greycliff-CF-Demi-Bold.woff2) format(woff2);
    font-weight: 600;
}
@font-face {
    font-family: 'Greycliff CF';
    src: url(/static/fonts/Greycliff-CF/Greycliff-CF-Bold.woff2) format(woff2);
    font-weight: 700;
}
@font-face {
    font-family: 'Greycliff CF';
    src: url(/static/fonts/Greycliff-CF/Greycliff-CF-Extra-Bold.woff2) format(woff2);
    font-weight: 800;
}
@font-face {
    font-family: 'Greycliff CF';
    src: url(/static/fonts/Greycliff-CF/Greycliff-CF-Heavy.woff2) format(woff2);
    font-weight: 900;
}
:root {
    --Orange01-Birt: #F84F39;
    --Yellow-Birt: #FFDC40;
    --Black-Birt: #0E0E0E;
    --Soft-Yellow01-Birt: #FFF9E3;
}



html {
    font-family: 'Greycliff CF';
}
body {
    background-color: var(--Soft-Yellow01-Birt);
}

header {
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 1;
    width: 100vw;
    background-color: #FFF9E3;
}
header img {
    width: 91px;
    margin-top: 27px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main_titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
}
.main_titulo h1 {
    font-weight: 700;
    font-size: 22px;
}
.main_titulo .borde-titulo {
    width: 98px;
    height: 2px;
    margin-top: 10px;
    border-radius: 50px;
    background: var(--Orange01-Birt);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sct1_container .main-container_box-input {
    width: 266px;
    height: 144px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    border-radius: 12px;
    background-color: var(--Yellow-Birt);
}

.sct1_container .container_boxes-input {
    display: flex;
    gap: 15px;
    margin-top: 3px;
}
.sct1_container .container_boxes-input input {
    width: 68px;
    height: 80px;
    text-align: center;
    border-radius: 10px;

    font-family: 'Greycliff CF';
    font-weight: 700;
    font-size: 32px;

    color: var(--Orange01-Birt);
    background: #FDF0BC;
}
.container_boxes-input input::placeholder {
    color: var(--colores-dia-inactive-input, #FBB088);
}
.container_boxes-input input:focus {
    outline: 2px solid var(--Orange01-Birt);
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.input-container p {
    margin-top: 10px;
    font-family: 'Greycliff CF';
    font-weight: 600;
    font-size: 20px;

    color: var(--Orange01-Birt)
}

.sct1_container .btn-continuar {
    width: 150px;
    height: 40px;

    font-family: 'Greycliff CF';
    font-weight: 600;
    font-size: 16px;

    color: var(--neutral-white-birt, #FFF);
    border-radius: 18px;
    background: var(--colores-ao-inactive-input, #FBB088);    
}
.sct1_container .btn-continuar img {
   margin-left: 2px;
   margin-bottom: -1px;
}
.btn-continuar.btn-activo {
    background-color: var(--Orange01-Birt);
}

.sct1_container form{
    display: flex;
    gap: 55px;
}
