:root {
    --Orange01-Birt: #F84F39;
    --Yellow-Birt: #FFDC40;
    --Black-Birt: #0E0E0E;
    --Soft-Yellow01-Birt: #FFF9E3;
}
html {
    font-size: 100%;
    font-family: 'Onest', sans-serif;
}
body {
    background-color: var(--Soft-Yellow01-Birt);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sct1_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    margin-bottom: 28px;

    z-index: 3;
}
.sct1_container img {
    width: 270px;
}
.sct1_container h1 {
    margin-top: 13px;
    margin-bottom: 20px;

    font-size: 18px;
    font-weight: 600;
    line-height: 110%; 
    letter-spacing: -0.36px;
    
    color: var(--neutral-black-birt, #0E0E0E);
}
.sct1_container .separator-waves {
    width: 117.619px;
}

.main_titulo {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 19px;
    margin-bottom: 20px;
}
.main_titulo h1 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.36px;

    color: var(--neutral-black-birt, #0E0E0E);
}
.main_titulo .borde-titulo {
    width: 50px;
    height: 2px;

    margin-top: 6px;

    border-radius: 50px;
    background: var(--Orange01-Birt);
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 298px;
    height: 229px;
    
    border-radius: 20px;
    background: #FDF0BC;

    z-index: 1;
}

.sct2_container {
    z-index: 3;
}
.sct2_container .main-container_box-input {
    width: 266px;
    height: 144px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    border-radius: 12px;
    background-color: var(--Yellow-Birt);
}

.sct2_container .container_boxes-input {
    display: flex;
    gap: 15px;
    margin-top: 3px;
}
.sct2_container .container_boxes-input input {
    width: 68px;
    height: 80px;
    text-align: center;
    border-radius: 10px;

    font-family: 'Onest', sans-serif;
    font-weight: 700;
    font-size: 30px;

    color: var(--Orange01-Birt);
    background: #FDF0BC;
}
.container_boxes-input input::placeholder {
    color: var(--colores-dia-inactive-input, #FBB088);
}
.container_boxes-input input:focus {
    outline: 2px solid var(--Orange01-Birt);
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.input-container p {
    margin-top: 10px;

  
    font-weight: 500;
    font-size: 19px;
    letter-spacing: -0.38px;

    color: var(--Orange01-Birt)
}

main .btn-continuar {
    width: 150px;
    height: 41px;

    font-family: 'Onest', sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.32px;

    color: var(--neutral-white-birt, #FFF);
    border-radius: 18px;
    background: var(--colores-ao-inactive-input, #FBB088);  
    
    z-index: 1;
}

main .btn-continuar img {
   margin-left: 5px;
   margin-bottom: -1px;
}
.btn-continuar.btn-activo {
    background-color: var(--Orange01-Birt);
}

.sct2_container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
}

#confetti {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
}
