:root {
    --Orange01-Birt: #FD3D24;
    --Yellow-Birt: #FFDC40;
  
    --Blue01-Birt: #1D77FF;
    --Blue02-Birt: #0094FF;
    --Purple-Birt: #A430FF;
    --Orange02-Birt: #FF7511;
  
    --Black-Birt: #252525;
    --White-Birt: #FFFFFF;
    --Gray-Birt: #555555;
  
    --Soft-Yellow01-Birt: #FFF9E3;
    --Soft-Yellow02-Birt: #FFFCF0;
  }
html {
    font-size: 100%;
    font-family: 'Onest', sans-serif;
}
body {
    overflow: hidden;
    background-color: var(--Soft-Yellow01-Birt);
}

/* Styles to pg1 */
.pg1-container.hidden{
    display: none;
}
.pg1-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100svh;

    padding-bottom: 0px;
}
.pg1-container .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    margin-bottom: 28px;
}
.pg1-container .header-container img {
    width: 222px;
}
.pg1-container .header-container h1 {
    margin-top: 11px;
    
    font-size: 17px;
    font-weight: 600;
    line-height: 110%; 
    letter-spacing: -0.17px;
    
    color: var(--neutral-black-birt, #0E0E0E);

    margin-bottom: 17px;
}

.pg1-container .btn-continuar {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 150px;
    height: 41px;

    font-family: 'Onest', sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.16px;

    text-decoration: none;
    color: var(--neutral-white-birt, #FFF);
    border-radius: 18px;
    background: var(--Orange01-Birt);  
    
    z-index: 1;
}

.pg1-container .btn-continuar img {
   margin-left: 5px;
   margin-bottom: -1px;
}

#confetti {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
}


/* Styles to pg2 */
.pg2-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100svh;

    padding-bottom: 0px;
}
.pg2-container .main_titulo {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 7px;
}
.pg2-container .main_titulo h1 {
    font-size: 26px;
    font-weight: 800;
    letter-spacing: -0.26px;

    color: var(--Orange01-Birt);
}
.pg2-container .main_titulo .question-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 5px;
}
.pg2-container .main_titulo .question-container h2 {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.16px;

    color: var(--neutral-black-birt, #0E0E0E);
}
.pg2-container .main_titulo .borde-question {
    width: 60px;
    height: 2px;

    border-radius: 5px;
    background: var(--Orange01-Birt);
}

.pg2-container .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 298px;
    height: 178px;
    
    border-radius: 20px;
    background: #FDF0BC;

    z-index: 1;
}

.pg2-container .main-container_box-input {
    width: 266px;
    height: 144px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    border-radius: 12px;
    background-color: var(--Yellow-Birt);
}

.pg2-container .container_boxes-input {
    display: flex;
    gap: 15px;
    margin-top: 3px;
}

.pg2-container .container_boxes-input input {
    width: 68px;
    height: 80px;
    text-align: center;
    border-radius: 10px;

    font-family: 'Onest', sans-serif;
    font-weight: 700;
    font-size: 30px;
    

    color: var(--Orange01-Birt);
    background: #FDF0BC;

}

.pg2-container .container_boxes-input input:focus {
    outline: 2px solid var(--Orange01-Birt);
}

.pg2-container .container_boxes-input input::placeholder {
    color: var(--colores-dia-inactive-input, #FBB088);
}

.pg2-container .container_boxes-input .input-box-dia.focus {
    outline: 2px solid var(--Orange01-Birt);
}



.pg2-container .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.pg2-container .input-container p {
    margin-top: 10px;

    font-weight: 500;
    font-size: 19px;
    letter-spacing: -0.19px;

    color: var(--Orange01-Birt)
}

.pg2-container .btn-continuar {
    margin-top: 17px;

    width: 150px;
    height: 41px;

    font-family: 'Onest', sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.32px;

    border-radius: 18px;
    color: var(--neutral-white-birt, #FFF);
    background: var(--colores-ao-inactive-input, #FBB088);  
}

.pg2-container .btn-continuar img {
   margin-left: 5px;
   margin-bottom: -1px;
}
.pg2-container .btn-continuar.btn-activo {
    background-color: var(--Orange01-Birt);
}

.pg2-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
}

/* Quitar flechas de aumento y disminución en los inputs type number */
.input-box-dia::-webkit-outer-spin-button,
.input-box-dia::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none; 
    margin: 0; /
}

.input-box-mes::-webkit-outer-spin-button,
.input-box-mes::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none; 
    margin: 0; /
}

.input-box-anio::-webkit-outer-spin-button,
.input-box-anio::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none; 
    margin: 0; /
}

/* media queries */
.v-desktop {
    display: none;
}