html {
    font-size: 100%;
}
@font-face {
    font-family: 'Causten Round';
    src: url(/static/fonts/CaustenRound-Medium.otf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Causten Round';
    src: url(/static/fonts/CaustenRound-SemiBold.otf);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Causten Round';
    src: url(/static/fonts/CaustenRound-Bold.otf);
    font-weight: 700;
    font-style: normal;
}
:root {
    --Orange01-Birt: #F84F39;
    --Yellow-Birt: #FFDC40;
    --Black-Birt: #0E0E0E;
    --Soft-Yellow01-Birt: #FFF9E3;
}

body {
    background-color: var(--Soft-Yellow01-Birt);
}

header {
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 1;
    width: 100vw;
    background-color: #FFF9E3;
}
header img {
    width: 91px;
    margin-top: 27px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main_titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.main_titulo h1 {
    font-family: 'Causten Round';
    font-weight: 600;
    font-size: 24px;
}
.main_titulo .borde-titulo {
    width: 98px;
    height: 2px;
    margin-top: 8px;
    border-radius: 50px;
    background: var(--Orange01-Birt);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sct1_container .main-container_box-input {
    width: 266px;
    height: 144px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 13px;
    border-radius: 12px;
    background-color: var(--Yellow-Birt);
}

.sct1_container .container_boxes-input {
    display: flex;
    gap: 15px;
    margin-top: 8px;
}
.sct1_container .container_boxes-input input {
    width: 68px;
    height: 80px;
    text-align: center;
    border-radius: 10px;
    font-family: 'Causten Round';
    font-weight: 600;
    font-size: 32px;
    color: var(--Orange01-Birt);
    background: #FDF0BC;
}
.container_boxes-input input::placeholder {
    color: var(--colores-dia-inactive-input, #FBB088);
}
.container_boxes-input input:focus {
    outline: 2px solid var(--Orange01-Birt);
}

.container_names-input {
    display: flex;
    gap: 50px;
    
}
.container_names-input p {
    font-family: 'Causten Round';
    font-weight: 500;
    font-size: 20px;
    color: var(--Orange01-Birt)
}

.sct1_container .btn-continuar {
    width: 150px;
    height: 40px;
    font-family: 'Causten Round';
    font-weight: 500;
    font-size: 16px;
    color: var(--Soft-Yellow01-Birt);
    border-radius: 18px;
    background: var(--colores-ao-inactive-input, #FBB088);    
}
.sct1_container .btn-continuar img {
   margin-left: 6px;
   margin-bottom: -1px;
}
.btn-continuar.btn-activo {
    background-color: var(--Orange01-Birt);
}

.sct1_container form{
    display: flex;
    gap: 55px;
}


/* Styles to start-screen */
.hidden {
    overflow: hidden;
}
.start-screen.hidden {
    display: none;
}

.start-screen {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
}

.start-screen img {
    width: 228px;
    z-index: 1;
}

.start-screen h1 {
    margin-top: 14px;
    margin-bottom: 25px;
    font-family: 'Causten Round';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    z-index: 1;
}

.loader {
    display: inline-block;
    box-sizing: border-box;

    width: 35px;
    height: 35px;

    border: 4px solid #EDE6CD;
    border-bottom-color: var(--Orange01-Birt);
    border-radius: 50%;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

/* styles to confetti */
#confetti {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
}
