:root {
    --Orange01-Birt: #F84F39;
    --Yellow-Birt: #FFDC40;
    --Black-Birt: #0E0E0E;
    --Soft-Yellow01-Birt: #FFF9E3;
    --White-Birt: #FFFFFF;
}

html {
    font-size: 100%;
    font-family: 'Onest', sans-serif;
}

body {
    height: 100vh;
    overflow: hidden;

    background-color: var(--Soft-Yellow01-Birt);
}

header {
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 1;
    width: 100vw;
    /* background-color: #FFF9E3; */
}
header img {
    width: 91px;
    margin-top: 27px;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
main .sct1-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}
.sct1-container img {
    margin-left: 3px;
    margin-bottom: 20px;
}

h1 {
    font-size: 32px;
    font-weight: 800;
    letter-spacing: -0.32px;

    color: var(--Orange01-Birt);
    z-index: 1;

    margin-bottom: 8px;
}
p {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.32px;

    color: var(--Black-Birt);
    z-index: 1;

    margin-bottom: 32px;
}
.sct1-container p span {
    font-weight: 700;
}

.container-btn{
    padding: 10.5px 28px;

    border-radius: 18px;
    background-color: var(--Orange01-Birt);

    z-index: 1;
}
.btn-vregalos {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 183px;
    height: 41px;
    
    font-weight: 500;
    font-size: 16px;

    border-radius: 18px;
    color: var(--White-Birt);
    background-color: var(--Orange01-Birt);
    text-decoration: none;

    z-index: 1;
}

.btn-vregalos img {
    width: 13px;

    margin-left: 6px;
    margin-top: 22px;
}

/* styles to confetti */
.confetti {
    transition: transform 0.8s, width 1s; 
}
.confetti.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
}