html {
    font-size: 100%;
}
@font-face {
    font-family: 'Causten Round';
    src: url(/static/fonts/CaustenRound-Medium.otf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Causten Round';
    src: url(/static/fonts/CaustenRound-SemiBold.otf);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Causten Round';
    src: url(/static/fonts/CaustenRound-Bold.otf);
    font-weight: 700;
    font-style: normal;
}
:root {
    --Orange01-Birt: #F84F39;
    --Yellow-Birt: #FFDC40;
    --Black-Birt: #0E0E0E;
    --Soft-Yellow01-Birt: #FFF9E3;
    --White-Birt: #FFFFFF;
}


body {
    background-color: var(--Soft-Yellow01-Birt);
}

header {
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 1;
    width: 100vw;
    background-color: #FFF9E3;
}
header img {
    width: 91px;
    margin-top: 27px;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
main .sct1-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}

h1 {
    margin-bottom: 8px;
    font-family: 'Causten Round';
    font-weight: 700;
    font-size: 34px;
    color: var(--Orange01-Birt);
}
p {
    margin-bottom: 32px;
    font-family: 'Causten Round';
    font-weight: 500;
    font-size: 18px;
}
.sct1-container p span {
    font-weight: 600;
}
.container-btn{
    padding: 10.5px 28px;
    border-radius: 18px;
    background-color: var(--Orange01-Birt);
}
.btn-vregalos {
    font-family: 'Causten Round';
    font-weight: 500;
    font-size: 16px;
    color: var(--White-Birt);
    text-decoration: none;
}

.btn-vregalos img {
    margin-left: 6px;
    margin-bottom: -1px;
}