:root {
    --Orange01-Birt: #FD3D24;
    --Yellow-Birt: #FFDC40;
  
    --Blue01-Birt: #1D77FF;
    --Blue02-Birt: #0094FF;
    --Purple-Birt: #A430FF;
    --Orange02-Birt: #FF7511;
  
    --Black-Birt: #252525;
    --White-Birt: #FFFFFF;
    --Gray-Birt: #555555;
  
    --Soft-Yellow01-Birt: #FFF9E3;
    --Soft-Yellow02-Birt: #FFFCF0;
  }

html {
    font-size: 100%;
    font-family: 'Onest', sans-serif;
}


body {
    background-color: var(--Soft-Yellow01-Birt);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100svh;

    padding-bottom: 10px;
}

header {
    position: fixed;

    display: flex;
    justify-content: center;
    width: 100vw;

    z-index: 1;
}
header img {
    width: 91px;
    margin-top: 27px;
}

main .sct1-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 10px;
}

.sct1-container img {
    width: 99.05px;
    
    margin-bottom: 10px;
}
h1 {
    text-align: center;
    
    font-size: 27px;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: -0.27px;

    color: var(--Orange02-Birt);

    margin-bottom: 10px;
}
p {

    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.16px;

    color: var(--Black-Birt);

    margin-bottom: 31px;
}

.btn-vregalos {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 183px;
    height: 41px;
    
    font-weight: 500;
    font-size: 16px;

    border-radius: 18px;
    color: var(--White-Birt);
    background-color: var(--Orange02-Birt);
    text-decoration: none;
}

.btn-vregalos img {
    width: 13px;

    margin-left: 6px;
    margin-top: 11px;
}
