:root {
    --Orange01-Birt: #F84F39;
    --Yellow-Birt: #FFDC40;
    --Black-Birt: #0E0E0E;
    --Soft-Yellow01-Birt: #FFF9E3;
    --White-Birt: #FFFFFF;
    --Orange02-Birt: #FF7511;
}

html {
    font-size: 100%;
    font-family: 'Greycliff CF';
}


body {
    background-color: var(--Soft-Yellow01-Birt);
}

header {
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 1;
    width: 100vw;
    background-color: #FFF9E3;
}
header img {
    width: 91px;
    margin-top: 27px;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
main .sct1-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.sct1-container img {
    margin-bottom: 10px;
}
h1 {
    text-align: center;
    margin-bottom: 11px;

    font-family: 'Greycliff CF';
    font-size: 27px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -0.54px;

    color: var(--Orange02-Birt);
}
p {
    margin-bottom: 33px;

    font-family: 'Greycliff CF';
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.32px;

    color: var(--Black-Birt);
}

.btn-vregalos {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 183px;
    height: 41px;
    
    font-family: 'Greycliff CF';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    border-radius: 18px;
    color: var(--White-Birt);
    background-color: var(--Orange01-Birt);
    text-decoration: none;
}

.btn-vregalos img {
    margin-left: 6px;
    margin-top: 12px;
}
