:root {
    --Orange01-Birt: #F84F39;
    --Yellow-Birt: #FFDC40;
    --Black-Birt: #0E0E0E;
    --Soft-Yellow01-Birt: #FFF9E3;
    --White-Birt: #FFFFFF;
    --Orange02-Birt: #FF7511;
}

html {
    font-size: 100%;
    font-family: 'Onest', sans-serif;
}


body {
    height: 100vh;
    overflow: hidden;

    background-color: var(--Soft-Yellow01-Birt);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;

    padding-bottom: 10px;
}

header {
    position: fixed;
    display: flex;
    justify-content: center;

    width: 100vw;
    z-index: 1;

    background-color: #FFF9E3;
}
header img {
    width: 91px;
    margin-top: 27px;
}

main .sct1-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.sct1-container img {
    margin-bottom: 10px;
}
h1 {
    text-align: center;
    
    font-size: 27px;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: -0.27px;

    color: var(--Orange02-Birt);

    margin-bottom: 10px;
}
p {

    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.16px;

    color: var(--Black-Birt);

    margin-bottom: 31px;
}

.btn-vregalos {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 183px;
    height: 41px;
    
    font-weight: 500;
    font-size: 16px;

    border-radius: 18px;
    color: var(--White-Birt);
    background-color: var(--Orange01-Birt);
    text-decoration: none;
}

.btn-vregalos img {
    width: 10.708px;

    margin-left: 6px;
    margin-top: 11px;
}
