:root {
    --Orange01-Birt: #F84F39;
    --Yellow-Birt: #FFDC40;
    --Black-Birt: #0E0E0E;
    --Soft-Yellow01-Birt: #FFF9E3;
    --White-Birt: #FFFFFF;
    --Blue02-Birt: #0094FF;
}

html {
    font-size: 100%;
    font-family: 'Greycliff CF';
}

body {
    background-color: var(--Soft-Yellow01-Birt);
}

header {
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 1;
    width: 100vw;
    background-color: #FFF9E3;
}
header img {
    width: 91px;
    margin-top: 27px;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
main .sct1-container {
    margin-bottom: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
}
.sct1-container .content-part1 img {
    margin-bottom: 12px;
}
.sct1-container .content-part1 h1 {
    margin-bottom: 8px;

    font-family: 'Greycliff CF';
    font-size: 27px;
    font-weight: 700;
    letter-spacing: -0.54px;

    color: var(--Blue02-Birt)
}
.sct1-container .content-part1 p {
    font-family: 'Greycliff CF';
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.32px;

    color: var(--neutral-black-birt, #0E0E0E);
}
.sct1-container .content-part1 p span {
    font-weight: 700;
}

.sct1-container .separator {
    width: 55px;
    height: 2px;
    border-radius: 50px;
    background: var(--Blue02-Birt)
}

.content-part2 {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 24px;
}
.sct1-container .content-part2 p {
    font-family: 'Greycliff CF';
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.32px;

    color: var(--neutral-black-birt, #0E0E0E);
}

.btn-vregalos {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    
    width: 183px;
    height: 41px;
    
    font-family: 'Greycliff CF';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    border-radius: 18px;
    color: var(--White-Birt);
    background: var(--complementary-blue-02-birt, #0094FF);
    text-decoration: none;
}

.btn-vregalos img {
    margin-left: 6px;
    margin-bottom: 9px;
}







