:root {
    --Orange01-Birt: #FD3D24;
    --Yellow-Birt: #FFDC40;
  
    --Blue01-Birt: #1D77FF;
    --Blue02-Birt: #0094FF;
    --Purple-Birt: #A430FF;
    --Orange02-Birt: #FF7511;
  
    --Black-Birt: #252525;
    --White-Birt: #FFFFFF;
    --Gray-Birt: #555555;
  
    --Soft-Yellow01-Birt: #FFF9E3;
    --Soft-Yellow02-Birt: #FFFCF0;
  }
html {
    font-size: 100%;
    font-family: 'Onest', sans-serif;
}

.v-desktop {
    display: block;
}

.pg1-container {
    display: none;
}
.pg2-container {
    display: none;
}
