<!DOCTYPE html>
<html lang="en">
<head>
    <title>Birtdei</title
    <meta name="description" content="Todos los regalos que las marcas tienen para ti en tu cumpleaños" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@500;600;700;800&display=swap" rel="stylesheet">

    <link rel="icon" type="img/svg" href="/static/favicon/favicon.svg">
    <link rel="stylesheet" href="/static/css/desktop.css">
    <link rel="stylesheet" href="/static/css/reset.css">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E6NL8DX650"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', process.env.GA4_PROPERTY_ID);
    </script>

    <!-- Vercel analytics -->
    <script>
        window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/insights/script.js"></script>
    
</head>
<body>
    <main>
        <section class="sct1_content-main">
            <div class="img-container">
                <img src="/static/img/monkey-sad.gif" alt="monito triste">
            </div>
            <div class="txt-container">
                <h1>Oye, lo siento...</h1>
                <p>Por ahora, <span>Birtdei</span> solo está disponible en celulares. <br>Por favor, <span>ingresa a tu navegador favorito <br>
                    desde tu celular</span> para disfrutarlo.<br></p>

            </div>
        </section>
        <section class="sct-bg-glass">
            <!-- <div class="bg-glass-left">
                <img src="/static/img/birtdei-logo-glass-left.svg">
            </div>
            <div class="bg-glass-right">
                <img src="/static/img/birtdei-logo-glass-right.svg">
            </div> -->
        </section>
    </main>

    <!-- Vercel - Speed Insights -->
    <script>
        window.si = window.si || function () { (window.siq = window.siq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/speed-insights/script.js"></script>
</body>
</html>