<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Birtdei</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@500;600;700;800&display=swap" rel="stylesheet">

    <link rel="icon" type="img/svg" href="/static/favicon/favicon.svg">
    <link rel="stylesheet" href="/static/css/desktop.css">
    <link rel="stylesheet" href="/static/css/reset.css">
</head>
<body>
    <main>
        <section class="sct1_content-main">
            <div class="img-container">
                <img src="/static/img/monkey-sad.gif" alt="monito triste">
            </div>
            <div class="txt-container">
                <h1>Oye, lo siento, pero...</h1>
                <p>por ahora solo puedes disfrutar<br>de <span>Birtdei</span> en un <span class="highlight">celular</span></p>
            </div>
        </section>
        <section class="sct-bg-glass">
            <!-- <div class="bg-glass-left">
                <img src="/static/img/birtdei-logo-glass-left.svg">
            </div>
            <div class="bg-glass-right">
                <img src="/static/img/birtdei-logo-glass-right.svg">
            </div> -->
        </section>
    </main>
</body>
</html>