<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Birtdei - Feedback</title>
    <link rel="icon" type="img/svg" href="/static/favicon/favicon.svg">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/feedback.css">
</head>
<body>
    <main>
        <header>
            <img  class="logo-birtdei" src="/static/img/Posi-Wordmark-Birt.svg" alt="Logo de Birtdei">
            <h1>Danos tu feedback para<br> mejorar tu experiencia</h1>
        </header>
        <hr class="line--bot-header">
        <section class="sct1-buttons">
            <h2>¿Qué quieres decirnos?</h2>
            <div class="buttons-container">
                <button class="btns btn-idea" id="btnIdea">
                    Idea<img src="/static/img/emoji-idea.png" alt="Emoji de foco">
                </button>
                <button class="btns btn-error" id="btnError">
                    Error<img src="/static/img/emoji-error.png" alt="Emoji de calavera">
                </button>
            </div>
        </section>
        <section class="sct2-form">
            <form action="" class="form-container" id="feedbackForm">
                <div class="inpt-title-container">
                    <h3>Título</h3>
                    <input class="inpt-title" id="titulo"
                        type="text" name="titulo" placeholder="¿De qué se trata?" required>
                </div>
                <div class="inpt-details-container">
                    <h3>Detalles</h3>
                    <textarea class="inpt-details" id="detalles"
                        type="text" name="detalles" placeholder="Cuéntanos más..." required></textarea>
                </div>
                    
                <input class="btn-submit" id="btnSubmit"
                    type="submit" value="Enviar feedback">
            </form>
            <a href="/regalos" class="backHome" id="btnBackHome">
                <img src="/static/img/arrow-left.svg">
                <p>Seguir viendo mis regalos</p>
            </a>
        </section>
    </main>
</body>

<script src="/static/js/feedback.js"></script>
</html>