<!doctype html>
<html lang="en">
  <head>
    <title>Birtdei</title>
    <meta name="description" content="Todos los regalos que las marcas tienen para ti en tu cumpleaños" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.birtdei.com/" />
    <meta property="og:title" content="Birtdei" />
    <meta property="og:description" content="Todos los regalos que las marcas tienen para ti en tu cumpleaños" />
    <meta property="og:image" content="/static/img/metaTag-birtdei.jpg" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://www.birtdei.com/" />
    <meta property="twitter:title" content="Birtdei" />
    <meta property="twitter:description" content="Todos los regalos que las marcas tienen para ti en tu cumpleaños" />
    <meta property="twitter:image" content="/static/img/metaTag-birtdei.jpg" />
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="img/svg" href="/static/favicon/favicon.svg">

    <script src="/static/js/home.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    
    <!-- El ?v=1.0 es una cadena de consulta única en las URls.
      Obliga al navegador a descargar el archivo nuevamente desde el servidor, en lugar de usar la versión en caché. -->
    <link rel="icon" type="img/svg" href="/static/favicon/favicon.svg">
    <link rel="stylesheet" href="{{ url_for('send_react_static', filename='index-v273.css') }}"> 

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E6NL8DX650"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ ga4_property_id }}');
    </script>

  </head>
  <body>
    <div id="root"></div>
    <script src="{{ url_for('send_react_static', filename='index-v273.js') }}"></script>

    <!-- Vercel - Speed Insights -->
    <script>
      window.si = window.si || function () { (window.siq = window.siq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/speed-insights/script.js"></script>
  </body>

  <!-- Google tag (gtag.js) -->
    
</html>