<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Birtdei</title>
    <link rel="icon" type="img/svg" href="/static/favicon/favicon.svg">

    <link rel="preload" as="font" href="/static/fonts/Greycliff-CF/Greycliff-CF-Bold.woff2" type="font/woff2">
    <link rel="preload" as="font" href="/static/fonts/Greycliff-CF/Greycliff-CF-Demi-Bold.woff2" type="font/woff2">

    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/confetti.js"></script>
</head>
<body>
    <main>
        <section class="start-screen" id="start-screen">
            <img src="/static/img/Posi-Wordmark-Birt.svg" alt="logo-birtdei">
            <h1>Todos los regalos que las marcas<br> tienen para ti en tu cumple</h1>
            <canvas id="confetti"></canvas>
            <span class="loader"></span>
        </section>
    </main>
</body>
<script>
    var opcionElegida = "{{ opcion }}";
    var loaderTimeout = setTimeout(function() {
        window.location.href = '/' + opcionElegida;
    }, 3000); 
</script>
    <script src="/static/js/index.js"></script>
</html>