<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Birtdei</title>
    <link rel="icon" type="img/svg" href="/static/favicon/favicon.svg">

    <link rel="preload" as="script" href="/static/js/index2.js">
    <link rel="preload" as="font" href="/static/fonts/Greycliff-CF/Greycliff-CF-Bold.woff2" type="font/woff2">
    <link rel="preload" as="font" href="/static/fonts/Greycliff-CF/Greycliff-CF-Demi-Bold.woff2" type="font/woff2">

    <link rel="stylesheet" href="/static/css/index2.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <script src="/static/js/confetti.js"></script>
    <script src="/static/js/index2.js"></script>
</head>
<body>
    <header>
        <img src="/static/img/Posi-Wordmark-Birt.svg" alt="logo-birtdei">
    </header>
    <main>
        <section class="sct1-container">
            <h1>¡Hola de nuevo!</h1>
            <p>¿Qué deseas hacer?</p>
        </section>
        <section class="sct2-container">
            <a class="btn-1" href="/regalos"> <span>Ver mis regalos</span> <img src="/static/icons/arrow-right.svg"></a>
            <a class="btn-2" href="/inicio"> <span>Ingresar nuevo cumple</span></a>
        </section>
        <canvas id="confetti"></canvas>
    </main>
</body>
</html>