<!DOCTYPE html>
<html lang="en">
<head>
    <title>Birtdei</title>
    <meta name="description" content="Todos los regalos que las marcas tienen para ti en tu cumpleaños" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.birtdei.com/" />
    <meta property="og:title" content="Birtdei" />
    <meta property="og:description" content="Todos los regalos que las marcas tienen para ti en tu cumpleaños" />
    <meta property="og:image" content="/static/img/metaTag-birtdei.jpg" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://www.birtdei.com/" />
    <meta property="twitter:title" content="Birtdei" />
    <meta property="twitter:description" content="Todos los regalos que las marcas tienen para ti en tu cumpleaños" />
    <meta property="twitter:image" content="/static/img/metaTag-birtdei.jpg" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="img/svg" href="/static/favicon/favicon.svg">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@500;600;700;800&display=swap" rel="stylesheet">

    <link rel="preload" as="script" href="/static/js/index2.js">

    <link rel="stylesheet" href="/static/css/index2.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <script src="/static/js/confetti.js"></script>

    <!-- Google tag (gtag.js) -->
    <!-- Se agrego un setTimeout, para que se ejecute luego de 2 segundos y de esa forma dar tiempo a index1.html o index2.html
    de redigir a birtdei.com/desktop y que de esa forma no se hagan dos llamadas a gtag.js -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E6NL8DX650"></script>
    <script>
        window.addEventListener('load', function() {
            setTimeout(function() {
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', '{{ ga4_property_id }}');
            }, 2000);
        });
    </script>

    <!-- Vercel analytics -->
    <script>
        window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/insights/script.js"></script>

        
</head>
<body>
    <header>
        <img src="/static/img/Posi-Wordmark-Birt.svg" alt="logo-birtdei">
    </header>
    <main>
        <section class="sct1-container">
            <img src="/static/img/memoji-mono.png" alt="Memoji de mono">
            <h1>¡Hola de nuevo!</h1>
            <p>¿Qué deseas hacer?</p>
        </section>
        <section class="sct2-container">
            <a class="btn-1" href="/regalos"> <span>Ver mis regalos</span> <img src="/static/icons/arrow-right.svg"></a>
            <a class="btn-2" href="/inicio"> <span>Ingresar nuevo cumple</span></a>
        </section>
        <canvas id="confetti"></canvas>
    </main>

    <!-- Vercel - Speed Insights -->
    <script>
        window.si = window.si || function () { (window.siq = window.siq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/speed-insights/script.js"></script>
</body>
<script src="/static/js/index2.js"></script>
</html>