<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Birtdei</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/reset.css">
</head>
<body>
    <main>
        <img src="/static/img/Posi-Wordmark-Birt.svg" alt="logo-birtdei">
        <h1>Todos los regalos que las marcas<br> tienen para ti en tu cumple</h1>
    </main>
</body>

<!-- Redirigir a segunda pantalla luego de 3s -->
<script>
    setTimeout(function() {
        window.location.href = "/ingreso";
    }, 3000);
</script>
</html>