<!DOCTYPE html>
<html lang="en">
<head>
    <title>Birtdei</title>
    <meta name="description" content="Todos los regalos que las marcas tienen para ti en tu cumpleaños" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.birtdei.com/" />
    <meta property="og:title" content="Birtdei" />
    <meta property="og:description" content="Todos los regalos que las marcas tienen para ti en tu cumpleaños" />
    <meta property="og:image" content="/static/img/metaTag-birtdei.jpg" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://www.birtdei.com/" />
    <meta property="twitter:title" content="Birtdei" />
    <meta property="twitter:description" content="Todos los regalos que las marcas tienen para ti en tu cumpleaños" />
    <meta property="twitter:image" content="/static/img/metaTag-birtdei.jpg" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="img/svg" href="/static/favicon/favicon.svg">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@500;600;700;800&display=swap" rel="stylesheet">

    <script src="/static/js/confetti.js"></script>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/v-desktop.css" media="screen and (min-width: 420px)">
    <link rel="stylesheet" href="/static/css/index1.css" media="screen and (max-width: 420px)">
    
    
    <link rel="preload" as="image" href="/static/img/s3-memoji1.png">
    <link rel="preload" as="image" href="/static/img/s3-memoji2.png">
    <link rel="preload" as="image" href="/static/img/s3-memoji3.png">
    <link rel="preload" as="image" href="/static/img/s3-memoji4.png">

    <link rel="preload" as="style" href="/static/css/s3.1.css">
    <link rel="preload" as="style" href="/static/css/s3.2.css">
    <link rel="preload" as="style" href="/static/css/s3.3.css">
    <link rel="preload" as="style" href="/static/css/s3.4.css">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E6NL8DX650"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{ ga4_property_id }}');
    </script>

    <!-- Vercel analytics -->
    <script>
        window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/insights/script.js"></script>

</head>
<body id="body" class="hidden">
    <section class="v-desktop">
        <h1>Hello world</h1>
        <iframe src="https://www.birtdei.com/" frameborder="0" width="390px" height="844px"></iframe>
    </section>
 
    <section id="pg1" class="pg1-container" >
        <div class="header-container">
            <img src="/static/img/Posi-Wordmark-Birt.svg" alt="logo-birtdei">
            <h1>Todos los regalos que las marcas<br> tienen para ti en tu cumple</h1>
        </div>
        <a id="pg1-btn" class="btn-continuar" >Continuar <img src="/static/icons/arrow-right.svg"></a>

        <canvas id="confetti"></canvas>
    </section>
    
    <section class="pg2-container">
        <form action="/ingresando" method="POST" >
            <div class="main_titulo">
                <h1>Primero, lo primero</h1>
                <div class="question-container">
                    <h2>¿Cuándo naciste?</h2>
                    <hr class="borde-question">
                </div>
            </div>
            <div class="form-container">
                <div class="main-container_box-input">
                    <div class="container_boxes-input">
                        <div class="input-container">
                            <input class="input-box-dia focus" type="number" id="dia" name="dia" min="0" max="99" placeholder="11" oninput="justTwoDigits(this); enableNext(this, 'mes')" required>
                            <p class="dia">Día</p>
                        </div>
                        <div class="input-container">
                            <input class="input-box-mes focus" type="number" id="mes" name="mes" min="0" max="99" placeholder="07" oninput="justTwoDigits(this) ; enableNext(this, 'anio')" disabled required>
                            <p class="mes">Mes</p>
                        </div>
                        <div class="input-container">
                            <input class="input-box-anio focus" type="number" id="anio" name="anio" min="0" max="99" placeholder="02" oninput="justTwoDigits(this) ; checkInputs();" disabled required>
                            <p class="año">Año</p>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn-continuar" id="btn-continuar" disabled>Continuar<img src="/static/icons/arrow-right.svg" alt="Flecha derecha"></button>
        </form>
    </section>

    <!-- Vercel - Speed Insights -->
    <script>
        window.si = window.si || function () { (window.siq = window.siq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/speed-insights/script.js"></script>
</body>
<script src="/static/js/index1.js"></script>
</html>