<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Birtdei</title>
    <link rel="icon" type="img/svg" href="/static/favicon/favicon.svg">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@500;600;700;800&display=swap" rel="stylesheet">

    <link rel="preload" as="script" href="/static/js/index2.js">

    <link rel="stylesheet" href="/static/css/index2.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <script src="/static/js/confetti.js"></script>

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-E6NL8DX650"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
    
        gtag('config', 'G-E6NL8DX650');
        </script>
        
</head>
<body>
    <header>
        <img src="/static/img/Posi-Wordmark-Birt.svg" alt="logo-birtdei">
    </header>
    <main>
        <section class="sct1-container">
            <img src="/static/img/memoji-mono.png" alt="Memoji de mono">
            <h1>¡Hola de nuevo!</h1>
            <p>¿Qué deseas hacer?</p>
        </section>
        <section class="sct2-container">
            <a class="btn-1" href="/regalos"> <span>Ver mis regalos</span> <img src="/static/icons/arrow-right.svg"></a>
            <a class="btn-2" href="/inicio"> <span>Ingresar nuevo cumple</span></a>
        </section>
        <canvas id="confetti"></canvas>
    </main>
</body>
<script src="/static/js/index2.js"></script>
</html>