<!DOCTYPE html>
<html lang="en">
<head>
    <title>Birtdei</title>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="img/svg" href="/static/favicon/favicon.svg">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@500;600;700;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/s3.1.css">
    <script src="/static/js/confetti.js"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E6NL8DX650"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E6NL8DX650');
    </script>

    <!-- Vercel analytics -->
    <script>
        window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/insights/script.js"></script>
    
</head>
<body>
    <header>
        <img src="/static/img/Posi-Wordmark-Birt.svg" alt="logo-birtdei">
    </header>
    <main>
        <section class="sct1-container">
            <img src="/static/img/s3-memoji1.png" alt="">
            <h1>¡Feliz cumpleee!</h1>
            <p>Ya tienes <span>{{ edad }} años</span>, ¡wow!</p>
            <a class="btn-vregalos" href="/regalos">Ver mis regalos<img src="/static/icons/arrow-right.svg"></a>
        </section>
    </main>
    <canvas id="confetti" class="confetti"></canvas>
    
    <script>
        var confettiSettings = {
            target: 'confetti',
            max: '100',
            size: '1',
            animate: true,
            clock: 35,
            props: ['circle','square'],
            colors: [[248,79,57],[255,220,64],[0,148,255],[164,48,255],[255,117,17]]
        };
        var confetti = new ConfettiGenerator(confettiSettings);
        confetti.render();

        <!-- Animar confetti para que inicie con scale(0) y luego pase a scale(1) -->
        document.addEventListener("DOMContentLoaded", function () {
            const confetti = document.getElementById("confetti")
            confetti.style.transform = "scale(0)";
        });

        setTimeout(function() {
            const confetti = document.getElementById("confetti")
            confetti.classList.add("active")
            confetti.style.transform = 'scale(1)';
            confetti.style.width = '100%';
        }, 400);
    </script>

    <!-- Vercel - Speed Insights -->
    <script>
        window.si = window.si || function () { (window.siq = window.siq || []).push(arguments); };
    </script>
    <script defer src="/_vercel/speed-insights/script.js"></script>
</body>
</html>