<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Birtdei</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/s3.1.css">
</head>
<body>
    <header>
        <img src="/static/img/Posi-Wordmark-Birt.svg" alt="logo-birtdei">
    </header>
    <main>
        <section class="sct1-container">
            <img src="/static/img/s3 - Memoji 1.png" alt="">
            <h1>¡Feliz cumpleee!</h1>
            <p>Ya tienes <span>{{ edad }} años</span>, wow!</p>
            <div class="container-btn">
                <a class="btn-vregalos" href="">Ver mis regalos<img src="/static/icons/arrow-right.svg"</a>
            </div>
        </section>
    </main>
</body>
</html>