<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Birtdei</title>
    <link rel="icon" type="img/svg" href="/static/favicon/favicon.svg">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/s3.2.css">
</head>
<body>
    <header>
        <img src="/static/img/Posi-Wordmark-Birt.svg" alt="logo-birtdei">
    </header>
    <main>
        <section class="sct1-container">
            <img src="/static/img/s3 - Memoji 2.png" alt="">
            <h1>{{dias_para_cumple}} días para<br> cumplir {{ edad }} años</h1>
            <p>Falta poco! Preparémonos</p>
            <div class="container-btn">
                <a class="btn-vregalos" href="/regalos">Ver mis regalos<img src="/static/icons/arrow-right.svg"</a>
            </div>
        </section>
    </main>
</body>
</html>