<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Birtdei</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/s3.3.css">
</head>
<body>
    <header>
        <img src="/static/img/Posi-Wordmark-Birt.svg" alt="logo-birtdei">
    </header>
    <main>
        <section class="sct1-container">
            <div class="content-part1">
                <img src="/static/img/s3 - Memoji 3.png" alt="">
                <h1>¿Hey, algo ansioso?</h1>
                <p><span>{{ dias_para_cumple }}</span> días para cumplir <span>{{ edad }}</span> años</p>
            </div>
            <hr class="separator">
            <div class="content-part2">
                <p>Todavía falta, pero podemos ir viendo</p>
                <div class="container-btn">
                    <a class="btn-vregalos" href="">Ver los regalos<img src="/static/icons/arrow-right.svg"</a>
                </div>
            </div>
        </section>
    </main>
</body>
</html>