html {
    font-size: 100%;
    font-family: 'Onest', sans-serif;
  }
  
  :root {
    --Orange01-Birt: #FD3D24;
    --Yellow-Birt: #FFDC40;
  
    --Blue01-Birt: #1D77FF;
    --Blue02-Birt: #0094FF;
    --Purple-Birt: #A430FF;
    --Orange02-Birt: #FF7511;
  
    --Black-Birt: #252525;
    --White-Birt: #FFFFFF;
    --Gray-Birt: #555555;
  
    --Soft-Yellow01-Birt: #FFF9E3;
    --Soft-Yellow02-Birt: #FFFCF0;
  }

/* Styles to menu */

.bg-dd-menu.active {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 1;
    background: rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease-in-out;
}

.bg-dd-menu.active.touchMove {
    transition: none;
}

.drop-down-menu-container {
    position: fixed;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 184px;

    border-radius: 20px 20px 0px 0px;
    background: rgba(255, 252, 240, 0.80);
    backdrop-filter: blur(20px);

    transition: all 0.3s ease-in-out;
    transform: translateY(100%);
}
.drop-down-menu-container.active {
    transform: translateY(0);
}


.handle-dd-menu {
    position: absolute;
    top: 14px;

    width: 28px;
    height: 2px;

    border-radius: 50px;
    background-color: #787878;
}


.btns-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

   margin-bottom: 16px;
}

.btns-container .btn-top {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 210px;
    height: 42px;

    font-weight: 600;
    font-size: 15px;
    color: var(--neutral-white-birt, #FFF);
    
    text-decoration: none;
    border-radius: 20px;
    background: var(--main-orange-01-birt, #F84F39);
}
.btns-container .btn-bot {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 210px;
    height: 42px;

    font-weight: 600;
    font-size: 15px;
    color: var(--main-orange-01-birt, #F84F39);

    text-decoration: none;
    border-radius: 20px;
    background: none;
    border: 2px solid var(--main-orange-01-birt, #F84F39);
}

.btn-top img {
    margin-left: 7px;
}
.btn-bot img {
    margin-left: 4px;
}