html {
    font-size: 100%;
}
  
:root {
    --Orange01-Birt: #FD3D24;
    --Yellow-Birt: #FFDC40;
  
    --Blue01-Birt: #1D77FF;
    --Blue02-Birt: #0094FF;
    --Purple-Birt: #A430FF;
    --Orange02-Birt: #FF7511;
  
    --Black-Birt: #252525;
    --White-Birt: #FFFFFF;
    --Gray-Birt: #555555;
  
    --Soft-Yellow01-Birt: #FFF9E3;
    --Soft-Yellow02-Birt: #FFFCF0;
  }

/* Styles to navbar */

header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100vw;

    background: rgba(255, 252, 240, 0.80);
    backdrop-filter: blur(20px);
}

.nav-imgs-container {
    display: flex;
    justify-content: space-between;
    align-items: end;

    width: 100%;
    min-width: 310px;
    height: 61px;
    margin: 0 20px;
    padding-bottom: 15px;

    border-bottom: 1px solid #D8D8D8;   
}

.nav-imgs-container .logo-birt {
    width: 99px;
    height: 25px;
}

.btn-toggle-menu {
    margin-bottom: -2px;
    background: none;
}

.menu-icon{
    padding-bottom: 2px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 27px;
    right: 17px;
    background-color: var(--Orange01-Birt)
}
